<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/Organizer">Organizer</a>
    <a href="/Event">Event</a>
    <a href="/Participants">Participants</a>
    <a href="/Registrations">Registrations</a>
    <a href="/Venues">Venues</a>
    <a href="/Speakers">Speakers</a>
    <a href="/er-diagram">ER-Diagram</a>
    <a href="/Booking">Booking</a>
    <a href="/Payment">Payment</a>
    <a href="/Feedback">Feedback</a>
</body>
</html>